<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="/Users/nguyenngocbinh/Documents/NgocBinh/Data/HCMUS/Hoan chinh/HK02/Lap Trinh JAVA/Project/BaiTapTuan02/weekone"/>
</launchConfiguration>
